.col-cnpj {
    width: 120px;
}

.col-content-cnpj {
    width: 120px;
    text-align: right;
}

.col-descricao {
    width: 110px;
}

.col-content-descricao {
    width: 110px;
    text-align: right;
}

.col-cep {
    width: 130px;
}

.col-content-cep {
    width: 130px;
    text-align: center;
}

.col-endereco {
    width: 100px;
}

.col-content-endereco {
    width: 100px;
    text-align: center;
}

.col-taxa {
    width: 120px;
}

.col-content-taxa {
    width: 120px;
    text-align: center;
}

.col-tempomin {
    width: 120px;
}

.col-content-tempomin {
    width: 120px;
    text-align: center;
}

.col-tempomax {
    width: 120px;
}

.col-content-tempomax {
    width: 120px;
    text-align: center;
}

.col-btns {
    width: 100px;
}

.col-content-btns {
    text-align: center;
    width: 100px;
    color: #FFF;
}

.col-name {
    width: 200px;
}

.col-content-name {
    text-align: left;
    width: 200px;
}

.btn-editar {
    margin-right: 5px;
}
