<div class="container">
  <div class="p-grid">

    <div class="p-col-12 p-lg-2 p-md-2">
      <app-resumo [pedido]="pedido"></app-resumo>
    </div>
    <div *ngIf="pedido" class="p-col-12 p-lg-10 p-md-10">
      <h2>Acompanhe o Pedido</h2>
      <h1><span>{{ pedido.situacao | situacaoPedido }}</span></h1>
  
      <div *ngIf="pedido.situacao == 'ENTREGUE' && !avaliacao.id">
        <h3>Avalie o pedido</h3>
        <form #avaliacaoForm="ngForm" (ngSubmit)="salvaAvaliacao()">
          <div>
            <p-rating [(ngModel)]="avaliacao.nota" stars="5" [cancel]="false" id="nota" name="nota"></p-rating>
          </div>
          <div>
            <textarea [(ngModel)]="avaliacao.comentario" id="comentario" name="comentario"></textarea>
          </div>
          <button pButton type="submit" [disabled]="!avaliacaoForm.form.valid" label="Avaliar"></button>
        </form>
      </div>
  
      <div *ngIf="pedido.situacao == 'ENTREGUE' && avaliacao.id">
        <p>Avaliação devidamente registrada. Muito obrigado!</p>
      </div>
  
    </div>

  </div>
</div>
  