<p-table [value]="supermercados" [paginator]="true" [rows]="5" [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th class="col-btns"></th>
            <th class="col-name">Nome</th>
            <th class="col-cnpj">CNPJ</th>
            <th class="col-cep">CEP</th>
            <th class="col-endereco">Endereço</th>
            <th class="col-taxa">Taxa de Entrega</th>
            <th class="col-tempomin">Tempo Mín. de Entrega</th>
            <th class="col-tempomax">Tempo Máx. de Entrega</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-supermercado>
        <tr>
            <td class="col-content-btns">
                <p-button class="btn-editar" icon="pi pi-pencil" pTooltip="Editar" [routerLink]="['/admin/supermercados', supermercado.id]" tooltipPosition="bottom"></p-button>
                <p-button icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" (onClick)="handleDelete(supermercado)"></p-button>
            </td>
            <td class="col-content-name">{{supermercado.nome | titlecase}}</td>
            <td class="col-content-cnpj">{{supermercado.cnpj}}</td>
            <td class="col-content-cep">{{supermercado.cep}}</td>
            <td class="col-content-endereco">{{supermercado.endereco}}</td>
            <td class="col-content-taxa">{{supermercado.taxaDeEntregaEmReais | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td class="col-content-tempomin">{{supermercado.tempoDeEntregaMinimoEmMinutos}}</td>
            <td class="col-content-tempomax">{{supermercado.tempoDeEntregaMaximoEmMinutos}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        Nenhum registro encontrado.
    </ng-template>
</p-table>
