 .col-taxa {
    width: 20%;
 }
 
 .col-content-taxa {
    width: 20%;
 }
 
 .col-tempomin {
    width: 20%;
 }
 
 .col-content-tempomin {
    width: 20%;
 }
 
 .col-tempomax {
    width: 20%;
 }
 
 .col-content-tempomax {
    width: 20%;
 }
 
 .col-btns {
    width: 15%;
 }
 
 .col-content-btns {
    width: 15%;
 }
 
 .col-nome {
    width: 25%;
 }
 
.col-content-nome {
    width: 25%;
 }
 
.btn-editar {
    margin-right: 5px;
 }
