<p-table [value]="itensEstoque" [paginator]="true" [rows]="5" [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th class="col-btns"></th>
            <th class="col-name">Nome</th>
            <th class="col-descricao">Descrição</th>
            <th class="col-quantidade">Quantidade</th>
            <th class="col-preco">Preço</th>
            <th class="col-promocao">Preço promocional</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itemEstoque>
        <tr>
            <td class="col-content-btns">
                <p-button class="btn-editar" icon="pi pi-pencil" pTooltip="Editar" routerLink="/supermercados/{{supermercado.id}}/estoque/{{itemEstoque.id}}" tooltipPosition="bottom"></p-button>
                <p-button icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" (onClick)="handleDelete(itemEstoque)"></p-button>
            </td>
            <td class="col-content-name">{{itemEstoque.nome | titlecase}}</td>
            <td class="col-content-descricao">{{itemEstoque.descricao}}</td>
            <td class="col-content-quantidade">{{itemEstoque.quantidade}}</td>
            <td class="col-content-preco">{{itemEstoque.preco | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td class="col-content-promocao">{{itemEstoque.precoPromocional | currency:'BRL':'symbol':'1.2-2'}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        Nenhum registro encrontado.
    </ng-template>
</p-table>
    