<div class="error-container">

  <div *ngIf="data?.error">
    <h1>ERRO {{ data?.error}}</h1>
    <h5 *ngIf="data?.error === 404">Página não encontrada :(</h5>
    <a [routerLink]="'/'">
      <h5>Ir para página inicial</h5>
    </a>
  </div>

  <div *ngIf="routeParams.message">
    <h1 *ngIf="routeParams?.status"> ERRO {{ routeParams?.status }}</h1><br/>
    <h1 *ngIf="routeParams?.url && routeParams?.url !== '/'">Erro em {{ routeParams?.url | uppercase }}, desculpe {{ routeParams?.user }} :(</h1>
    <h4 *ngIf="routeParams?.id">Envie o erro abaixo ao Administrador com o ID:<br> {{ routeParams?.id}}</h4>
    <a
      [routerLink]="routeParams?.url"
      *ngIf="routeParams?.url && routeParams.status !== '404'">
        <h5>Voltar para {{routeParams?.url}}</h5>
    </a>
    <a routerLink="/"
        *ngIf="!routeParams.url || routeParams.status === '404'">
        <h5>Voltar para página inicial</h5>
    </a>
  </div>

  <div *ngIf="!routeParams && !data">
      <h1>Erro desconhecido, desculpe :(</h1>
      <a [routerLink]="'/login'">
        <h5>Vá para página inicial</h5>
      </a>
  </div>

  <div class="pre-container" *ngIf="routeParams?.message">
    <pre>
      {{ this.routeParams | json }}
    </pre>
  </div>

</div>
  
