<div class="container p-grid p-col-12 p-lg-9 p-md-9" *ngIf="pendentes?.length">
    <div class="p-col-12 p-lg-9 p-md-9">
        <h2>Pedidos Pendentes</h2>
    </div>
    <div *ngFor="let pedido of pendentes">
        <div class="p-col-12 p-lg-9 p-md-9">
            <h1>{{ pedido.situacao | situacaoPedido }}</h1>

            <p><strong>Cliente:</strong> {{ pedido.entrega.cliente.nome }}</p>
            <p><strong>Tel:</strong> <a href="tel:{{ pedido.entrega.cliente.telefone }}">{{ pedido.entrega.cliente.telefone }}</a></p>
            <p><strong>Endereço:</strong> {{ pedido.entrega.endereco }} {{ pedido.entrega.complemento }}</p>

            <div *ngFor="let itemPedido of pedido.itens">
            <p>{{ itemPedido.quantidade }}x {{ itemPedido.itemEstoque.nome }}
                <p><small>{{ itemPedido.observacao }}</small></p>
            </div>

            <button pButton *ngIf="pedido.situacao == 'PAGO'" (click)="confirma(pedido)" label="Confirmar"></button>
            <button pButton *ngIf="pedido.situacao == 'CONFIRMADO'" (click)="avisaPronto(pedido)" label="Pronto!"></button>
            <button pButton *ngIf="pedido.situacao == 'PRONTO'" (click)="avisaSaiu(pedido)" label="Em rota"></button>
            <button pButton *ngIf="pedido.situacao == 'SAIU_PARA_ENTREGA'" (click)="avisaEntregue(pedido)" label="Entregue"></button>

        </div>
    </div>
</div>
<div *ngIf="!pendentes?.length">
    <h2>Não há pedidos pendentes</h2>
</div>
      