<nav class="navbar container">
    <div class="p-grid">
        <div class="p-col-10 p-lg-2 p-md-2 p-p-3">
            <app-sidebar *ngIf="user" ></app-sidebar>    
        </div>

        <div class="p-col-1 p-md-2 p-lg-2">
            <p *appTemAcesso="['ADMIN']" class="boasvindas">ADMIN!</p>
            <p *appTemAcesso="['SUPERMERCADO']" class="boasvindas">SUPERMERCADO!</p>
        </div>

        <div class="p-col-1 p-lg-2 p-md-2 p-p-2">
            <p-button *ngIf="!user" type="button" label="Login" styleClass="ui-button-primary" routerLink="/login"></p-button>
            <p-button *ngIf="user" type="button" styleClass="ui-button-danger" label="Logout" (click)="handleLogout()"></p-button>
        </div>
    </div>

</nav>
