<nav class="navbar">
    <div class="p-grid ">
        <div class="p-col-9">
            <a *ngIf="user" style="float: left" href="javascript:;" class="navbar-toogle" (click)="toggle()">
                <i class="pi pi-bars" ></i>
            </a>
        </div>
        <div class="p-col-1">
            <p-button *ngIf="!user" type="button" label="Login" styleClass="ui-button-primary" routerLink="/login"></p-button>
            <p-button *ngIf="user" type="button" styleClass="ui-button-danger" label="Logout" (click)="logout()"></p-button>
        </div>
    </div>
</nav>
