.col-descricao {
    width: 100px;
}

.col-content-descricao {
    width: 100px;
    text-align: center;
}

.col-quantidade {
    width: 120px;
}

.col-content-quantidade {
    width: 120px;
    text-align: center;
}

.col-preco {
    width: 120px;
}

.col-content-preco {
    width: 120px;
    text-align: center;
}

.col-promocao {
    width: 120px;
}

.col-content-promocao {
    width: 120px;
    text-align: center;
}

.col-btns {
    width: 100px;
}

.col-content-btns {
    text-align: center;
    width: 100px;
    color: #FFF;
}

.col-name {
    width: 200px;
}

.col-content-name {
    text-align: left;
    width: 200px;
}

.btn-editar {
    margin-right: 5px;
}
