<div class="container">
    <p-confirmDialog [style]="{width: '425px'}"></p-confirmDialog>
    <div class="p-grid">
        <div class="p-col-12">
            <h1>Pesquisa de Supermercados</h1>
        </div>

        <div class="p-col-12">
            <button pButton type="button" label="Novo supermercado" routerLink="/admin/supermercados/novo"></button>
        </div>

        <div class="p-col-6">
            <input type="text" [ngModel]="inputSearch" (ngModelChange)="getSupermercadosByName($event)" pInputText placeholder="Buscar supermercados..."/>
        </div>

        <div class="p-col-12">
            <app-supermercado-grade (delete)="dialogDelete($event)" [supermercados]="supermercados"></app-supermercado-grade>
        </div>
    </div>
</div>
